<!-- Footer Section Begin --> 
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <!-- Start Shopping Section -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="footer__widget">
                    <h6>Start Shopping!</h6>
                    <ul>
                        <li><a href="/shop">Shoes for Women</a></li>
                        <li><a href="/shop">Shoes for men</a></li>
                        <li><a href="/shop">Trending Shoes</a></li>
                        <li><a href="/shop">Sale</a></li>
                    </ul>
                </div>
            </div>
            <!-- Any Queries Section -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="footer__widget">
                    <h6>Any Queries?!</h6>
                    <ul>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/payment-methods">Payment Methods</a></li>
                        <li><a href="/delivery">Delivery</a></li>
                        <li><a href="/returns-and-exchanges">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Additinal Links -->
<script src="./user/js/signinscript.js"></script>
<script src="./user/js/loginscript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./user/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./user/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./user/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./user/js/plugins/slick.js"></script>
<script src="./user/js/plugins/jquery.syotimer.min.js"></script>
<script src="./user/js/plugins/wow.js"></script>
<script src="./user/js/plugins/jquery-ui.js"></script>
<script src="./user/js/plugins/perfect-scrollbar.js"></script>
<script src="./user/js/plugins/magnific-popup.js"></script>
<script src="./user/js/plugins/select2.min.js"></script>
<script src="./user/js/plugins/waypoints.js"></script>
<script src="./user/js/plugins/counterup.js"></script>
<script src="./user/js/plugins/jquery.countdown.min.js"></script>
<script src="./user/js/plugins/images-loaded.js"></script>
<script src="./user/js/plugins/isotope.js"></script>
<script src="./user/js/plugins/scrollup.js"></script>
<script src="./user/js/plugins/jquery.vticker-min.js"></script>
<script src="./user/js/plugins/jquery.theia.sticky.js"></script>
<script src="./user/js/plugins/jquery.elevatezoom.js"></script>
<script src="./user/js/maind134.js?v=3.4"></script>
<script src="./user/js/shopd134.js?v=3.4"></script>

</body>

</html>